#header {
    height: 10vh;
}

#logo {
    font-family: 'Montez', cursive;
    font-size: xx-large;
    color: blue;
}

#logotext {
    margin: 0px;
    font-family: 'Ubuntu Mono';
    font-style: italic;
}

#signup-btn, #signin-btn {
    float: right;
    margin: 10px 10px 0 10px;
    font-size: 20px;
    padding: 0 15px 0 15px;
    background-color: blue;
    color: white;
}

#signup-form, #signin-form {
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}

#name, #username, #password, #con-password, #title {
    margin: 10px 10px 10px 0;
    width: 300px;
    background-color: lightgrey;
    padding: 5px 0 5px 0;
}

#get-started, #welcome-back, #pen-your-post {
    font-family: 'Ubuntu Mono';
    font-size: x-large;
    margin: 0;
}

#singup-submit-btn, #signin-submit-btn {
    background-color: green;
    padding: 5px;
    width:300px;
    margin: 0 5px 0 5px;
}

#not-a-member {
    text-align: center;
}

#signup-modal, #signin-modal {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);  
    background-color: whitesmoke;
    padding: 20px; 
}

/* The Close Button */
#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }