#header {
    height: 10vh;
    background-color: white;
}

#logo {
    font-family: 'Montez', cursive;
    font-size: xx-large;
    color: blue;
}

#logotext {
    margin: 0px;
    font-family: 'Ubuntu Mono';
    font-style: italic;
}

body {
    background-color: white;
}

#signup-btn, #signin-btn {
    float: right;
    margin: 10px 10px 0 10px;
    font-size: 20px;
    padding: 0 15px 0 15px;
    background-color: blue;
    color: white;
}

h2 {
    font-family: 'Ubuntu Mono';
    text-align: center;
    margin: 20px 150px 50px 150px;
}

#edit {
    color: #aaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 100px 0 0px;
    padding: 5px;
    font-family: 'Ubuntu Mono';
    background-color: red;
}
  
#edit:hover,
#edit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#save {
    color: #aaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin: 0px -60px 0 0px;
    padding: 5px;
    font-family: 'Ubuntu Mono';
    background-color: red;
    display: none;
}
  
#save:hover,
#save:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #author-div {
      margin: 0 0 0 100px;
      font-family: 'Ubuntu Mono';
  }

  #author-name-and-icon {
      display: inline-block;
      vertical-align: top;
      font-size: large;
      margin:0 auto;
  }

  #main-text-div {
      width: 1280px;
      height: 200px;
      margin: 50px 0 0 100px;
      font-family: 'Ubuntu Mono';
  }

#like {
    color: #aaa;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 50px 0 100px;
    padding: 5px;
    font-family: 'Ubuntu Mono';
    background-color: red;
}
  
#like:hover,
#like:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#like-text {
    color: grey;
    margin: 10px 0px 0 100px;
    font-family: 'Ubuntu Mono';
}

#comment-text-area {
    width: 800px;
    height: 50px;
    margin: 20px 50px 10px 100px;
}

#comment-btn {
    background-color: red;
    color: #aaa;
    margin: 0 0 0 100px;
    border:none;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Ubuntu Mono';
}

#comment-btn:hover,
#comment-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#all-comments-label {
    margin: 20px 0 0 100px;
    font-family: 'Ubuntu Mono';
}

#all-comments-list {
    margin: 20px 0 0 100px;
    font-family: 'Ubuntu Mono';
}

.comments-text {
    border-color: grey;
    border-style: solid;
    padding: 10px;
    width:800px;
    margin: 0;
    font-size: small;
}